In [1]:
import pandas as pd

sales_file = '../../../../DSI-SF2-bishopkd/datasets/rock_songs/rock.csv'
df = pd.read_csv(sales_file)

df.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [2]:
df.rename(columns={
        'Song Clean':'song_clean',
        'ARTIST CLEAN':'artist_clean',
        'Release Year':'release_year',
        'COMBINED':'combined',
        'First?':'first',
        'Year?':'year',
        'PlayCount':'play_count',
        'F*G':'f_g'
    }, inplace=True)
df.head(1)

,song_clean,artist_clean,release_year,combined,first,year,play_count,f_g
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82

In [3]:
df.describe()

        first         year   play_count          f_g
count  2230.0  2230.000000  2230.000000  2230.000000
mean      1.0     0.741256    16.872646    15.048430
std       0.0     0.438043    25.302972    25.288366
min       1.0     0.000000     0.000000     0.000000
25%       1.0     0.000000     1.000000     0.000000
50%       1.0     1.000000     4.000000     3.000000
75%       1.0     1.000000    21.000000    18.000000
max       1.0     1.000000   142.000000   142.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
song_clean      2230 non-null object
artist_clean    2230 non-null object
release_year    1653 non-null object
combined        2230 non-null object
first           2230 non-null int64
year            2230 non-null int64
play_count      2230 non-null int64
f_g             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.4+ KB

In [5]:
df['song_clean'].value_counts()

Photograph                            3
Summertime Blues                      3
Changes                               3
Loser                                 3
Knockin' On Heaven's Door             3
Don't Bring Me Down                   3
Stop Draggin' My Heart Around         3
Funk #49                              3
Turn The Page                         2
Helter Skelter                        2
Can't Get Enough                      2
There's No Way Out Of Here            2
Under Pressure                        2
Come Together                         2
Night Moves                           2
Life in the Fast Lane                 2
Immigrant Song                        2
Dreamer                               2
Uncle Albert/Admiral Halsey           2
Woman                                 2
The Logical Song                      2
One                                   2
Hypnotized                            2
The Wizard                            2
Little Wing                           2
American Woman                        2
The Boys Are Back In Town             2
Me and Bobby McGee                    2
Like a Rolling Stone                  2
You Really Got Me                     2
                                     ..
Blue Sky                              1
I Wouldn't Want to Be Like You        1
For Your Life                         1
You Ain't Seen Nothin' Yet            1
Livin' Thing                          1
The Way It Is                         1
I Wanna Be Sedated                    1
I'm Leaving                           1
Time of the Season                    1
Medicated Goo                         1
Wrong Way                             1
Substitute                            1
Dream Weaver                          1
When You Dance I Can Really Love      1
I CAN SEE CLEARLY NOW                 1
Harmony                               1
Bad Time                              1
American Pie                          1
Sultans of Swing                      1
ANOTHER TRICKY DAY                    1
I'm Down                              1
Dangerious Type                       1
I've Got A Feeling                    1
Jump into the Fire                    1
Keep Talking                          1
Street Fighting Man                   1
With A Little Help From My Friends    1
Suite Madame Blue                     1
Boogie With Stu                       1
Lawyers, Guns and Money               1
Name: song_clean, dtype: int64

In [6]:
df_top_song = df.groupby('song_clean').head(20).sort('play_count', ascending=0)
df_top_song.head(20)
#df['song_clean','play_count'].nlargest(20)

/Users/katbishop/anaconda/envs/dsi/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,song_clean,artist_clean,release_year,combined,first,year,play_count,f_g
49,Dream On,Aerosmith,1973,Dream On by Aerosmith,1,1,142,142
868,All Along the Watchtower,Jimi Hendrix,1968,All Along the Watchtower by Jimi Hendrix,1,1,141,141
65,Sweet Emotion,Aerosmith,1975,Sweet Emotion by Aerosmith,1,1,141,141
38,You Shook Me All Night Long,AC/DC,1980,You Shook Me All Night Long by AC/DC,1,1,138,138
267,More Than a Feeling,Boston,1976,More Than a Feeling by Boston,1,1,134,134
968,Carry On Wayward Son,Kansas,1976,Carry On Wayward Son by Kansas,1,1,134,134
269,Peace of Mind,Boston,1976,Peace of Mind by Boston,1,1,132,132
774,Crazy On You,Heart,1976,Crazy On You by Heart,1,1,125,125
2220,Legs,ZZ Top,1983,Legs by ZZ Top,1,1,121,121
2224,Sharp Dressed Man,ZZ Top,1983,Sharp Dressed Man by ZZ Top,1,1,120,120
989,Rock And Roll All Nite,Kiss,1975,Rock And Roll All Nite by Kiss,1,1,119,119
1354,Bohemian Rhapsody,Queen,1975,Bohemian Rhapsody by Queen,1,1,119,119
1675,Renegade,Styx,1978,Renegade by Styx,1,1,116,116
784,Magic Man,Heart,1976,Magic Man by Heart,1,1,115,115
956,Wheel in the Sky,Journey,1978,Wheel in the Sky by Journey,1,1,114,114
1106,Blinded by the Light,Manfred Mann,1976,Blinded by the Light by Manfred Mann,1,1,114,114
1621,The Joker,Steve Miller Band,1973,The Joker by Steve Miller Band,1,1,114,114
1523,Tom Sawyer,Rush,1981,Tom Sawyer by Rush,1,1,114,114
1866,Just What I Needed,The Cars,1978,Just What I Needed by The Cars,1,1,113,113
772,Barracuda,Heart,1977,Barracuda by Heart,1,1,113,113

In [ ]:
df_top_year = df.groupby('release_year').head().sort('play_count', ascending=0)
df_top_year.head(5)

In [ ]:

ath_file = '../../../../DSI-SF2-bishopkd/datasets/highest_paid_athletes/Athletes.csv'
dfa = pd.read_csv(ath_file)

dfa.head(1)

In [ ]:
dfa.rename(columns={
        'Total Pay':'total_pay',
        'Salary/Winnings':'salary',
        'Year of birth':'birth_year',
        'Height (cm)':'heigh',
        'Birth Date':'birth_date',
        'Place of Birth':'birth_place'
    }, inplace=True)
dfa.head(1)

In [ ]:
dfa_sub = dfa[['total_pay','salary','Endorsements','birth_date','heigh']]
dfa_sub.describe()

In [ ]:

def clean(col):
    col = col.replace('$','').replace(',','')
    return float(col)
    

dfa['total_pay'] = dfa['total_pay'].map(clean)
dfa['salary'] = dfa['salary'].map(clean)
dfa['Endorsements'] = dfa['Endorsements'].map(clean)

dfa.head(2)

In [ ]:
#top_mask = (dfa.total_pay

dfa_top_short = dfa.groupby('Name').head(10).sort(['heigh'], ascending=[True])
dfa_top_short.head(10)

In [ ]:
def feet_convert(cm):
    return cm * 0.03281

dfa['heigh'] = dfa['heigh'].map(feet_convert)

In [ ]:
mask = (dfa['Endorsements'] > dfa['salary'])
dfa.loc[mask,:].head(3)

In [ ]:
dfa2 = dfa.loc[mask,:]
dfa2['Sport'].value_counts()

In [ ]:
dfa3 = dfa[['Nation','salary']]
#dfa3
#dfa3.groupby('Nation').head().sort(['salary'], ascending=[False])
gb = dfa3.groupby(['Nation'])
gb.sum().sort(['salary'],ascending=0)