# Long format, wide format, pivot tables, and melting

This lesson is all about data transformation in pandas. Data transformation is in essense reorganizing the rows and columns of your dataset to be a different shape and format. 

The benefits to transforming your data are primarily for easier access and manipulation of data, whether it be through easier masking/conditional statements or because you would prefer to operate across columns or down rows. 

Over time you will get a feel for which data formats are better for different tasks. This lesson, however, is focused in large part on the _functional application_ of data transformation. How do you do this to a dataset?

---

In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

sns.set_style('darkgrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

---

## 1. "Wide" format data

**Wide** format data is the more common format of data for .csv type files. You are already familiar with wide format data: I believe all of the datasets we have been using thus far have been in wide format.

Wide format data is formatted with criteria:

- There are multiple ID _and_ value columns. In other words, there is a column for every "variable" with its own unique values.
- The format has both the conceptual simplicity of a single column of values per variable and a more compact matrix.
- Is not useful for SQL-style operations: it can make it much harder or even impossible to join tables together on a value.
- Can be more useful in pandas when you need to preform operations on variables **across columns**. For example, multiplying columns together.
- It is the most commonly the format that you will put the data in when you are ready to perform modeling (with some exceptions). When we get into modeling next week I will explain why.

---

## 2. Load  "Nerdy Personality Attributes" dataset

This is a parsed and modified version of the full "Nerdy Personality Attributes" survey that asked subjects to self-rate on questions related to "nerdiness" as well as more general personality traits such as openness and extraversion. Demographic information on the subjects was also collected.

In this modified version, for the sake of example, some of the subjects have only data for the survey and not the demographic variables. Because there are missing values and the data in general is "messy", this is also in part a data cleaning problem.

We will load the data in wide format first:

In [2]:
nerdy_wide_f = '/Users/katbishop/Desktop/DSI-SF2-bishopkd/datasets/nerdy_personality_attributes/NPAS_parsed_trunc_wide_missing.csv'

nerdy_wide = pd.read_csv(nerdy_wide_f)
print nerdy_wide.shape

(1391, 57)

The dataset is in the familiar (rows, columns) format where each column is a variable, each row contains the observation for that variable for (in this case) that distinct subject.

In [3]:
nerdy_wide.head(3)

,subject_id,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
0,0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0
2,2,5.0,22.0,7.0,5.0,5.0,2.0,5.0,1.0,6.0,...,1.0,7.0,5.0,5.0,2.0,1.0,1.0,5.0,5.0,4.0

We can check to see how many null values there are per column with the convenient chained function pattern below:

In [4]:
nerdy_wide.isnull().sum()

subject_id                        0
academic_over_social              0
age                             691
anxious                           0
bookish                           0
books_over_parties                0
calm                              0
collect_books                     0
conventional                      0
critical                          0
dependable                        0
diagnosed_autistic                0
disorganized                      0
education                       691
engnat                          691
enjoy_learning                    0
excited_about_research            0
extraverted                       0
familysize                      691
gender                          691
hand                            691
hobbies_over_people               0
in_advanced_classes               0
intelligence_over_appearance      0
interested_science                0
introspective                     0
libraries_over_publicspace        0
like_dry_topics                   0
like_hard_material                0
like_science_fiction              0
like_superheroes                  0
major                           970
married                         691
online_over_inperson              0
opennness                         0
play_many_videogames              0
playes_rpgs                       0
prefer_fictional_people           0
race_arab                         0
race_asian                        0
race_black                        0
race_hispanic                     0
race_native_american              0
race_native_austrailian           0
race_nerdy                        0
race_white                        0
read_tech_reports                 0
religion                        691
reserved                          0
socially_awkward                  0
strange_person                    0
sympathetic                       0
urban                           691
voted                           691
was_odd_child                     0
watch_science_shows               0
writing_novel                     0
dtype: int64

The 691 missing demographic variables are intentional (I specifically set it up so only 700 of the subjects have demographic information).

However, we can see that the `major` variable has 970 missing values. This is not intentional by me.

If we were to just drop all the rows that have any null values at this point, we would lose 970 rows due to the commonly missing variable `major`.

With a numeric column, this would be hard to avoid without "imputing" some number to fill in the values. In the simplest case imputing the mean or median for missing numeric values is used (but not very good).

With a **categorical variable**, which `major` is, we have a luxury of replacing the missing values with another category. In this case, I will replace the values with "unknown".

In [5]:
#will replace nulls with unknown in major col
nerdy_wide.loc[nerdy_wide.major.isnull(),'major'] = 'unknown'
nerdy_wide.major.isnull().sum()

0

In [6]:
nerdy_wide.head(2)

,subject_id,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
0,0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0

## 3. "Long" format

Now we can load the same data in but in what's commonly referred to as "long format". 

Long data is formatted with criteria:

- Potentially multiple "id" (identification) columns.
- Variable:value column pairs that match a variable key to a value (in the simple case, a single variable column and a single value column).
- The "variable" column corresponds to the multiple variable columns in your wide format data. Now, instead of a column for each variable, you have a row for each variable:value pair, per id. 
- This is a standard format in SQL databases because it is appropriate for joining different tables together by keys.

In [7]:
nerdy_long_f = '/Users/katbishop/Desktop/DSI-SF2-bishopkd/datasets/nerdy_personality_attributes/NPAS_parsed_trunc_long_missing.csv'

nerdy_long = pd.read_csv(nerdy_long_f)
print nerdy_long.shape

(70295, 3)

In [8]:
#nerdy_long.head(5)
nerdy_long.sort_values(['subject_id','variable'], axis=0,ascending=True).head(10)

       subject_id              variable value
41084           0  academic_over_social   5.0
54994           0               anxious   1.0
20219           0               bookish   5.0
18828           0    books_over_parties   5.0
46648           0                  calm   7.0
36911           0         collect_books   5.0
59167           0          conventional   1.0
52212           0              critical   1.0
50821           0            dependable   7.0
27174           0    diagnosed_autistic   2.0

You can see that the long data has way more rows, but only three columns.

Below you see the three columns: `subject_id`, `variable`, and `value`.

**`subject_id:`**
- This is the primary "key" or "id" column. Each subject id will have corresponding entries in the variable column, one for each row.

**`variable:`**
- This column indicates which variable the item in the value column corresponds to.

**`value:`**

- This contains all the values for all of the variables for all ids. Essentially, every cell in the wide dataset except the subject_id is listed in this column.

In [9]:
#nerdy_long.head(3)

You can see that the unique values in the variable column correspond to the column headers in the wide format data:

In [10]:
nerdy_long.variable.unique()

array(['education', 'urban', 'gender', 'engnat', 'age', 'hand', 'religion',
       'voted', 'married', 'familysize', 'major', 'race_white',
       'race_nerdy', 'race_native_american', 'writing_novel',
       'read_tech_reports', 'online_over_inperson', 'introspective',
       'hobbies_over_people', 'books_over_parties', 'bookish',
       'libraries_over_publicspace', 'race_native_austrailian',
       'like_hard_material', 'race_hispanic', 'diagnosed_autistic',
       'play_many_videogames', 'race_arab', 'race_asian',
       'interested_science', 'playes_rpgs', 'in_advanced_classes',
       'collect_books', 'intelligence_over_appearance',
       'watch_science_shows', 'academic_over_social',
       'like_science_fiction', 'like_dry_topics', 'race_black', 'calm',
       'disorganized', 'extraverted', 'dependable', 'critical',
       'opennness', 'anxious', 'sympathetic', 'reserved', 'conventional',
       'was_odd_child', 'prefer_fictional_people', 'enjoy_learning',
       'excited_about_research', 'strange_person', 'like_superheroes',
       'socially_awkward'], dtype=object)

Let's again replace the `major` variables with 'unknown', but in a way that works with long format data:

## Pandas `pivot_table()`: long to wide format

The `pd.pivot_table()` function is a very powerful tool to both transform data from long to wide format and also to conveniently summarize data into a matrix with arbitrary functions.

First we'll look at how we transform this long format data back into the wide format data.

**Parameters to note in the function:**

    nerdy_long: the pivot_table() function takes a dataframe to pivot as its first argument
    
- **`columns`**: this is the list of columns in the wide format data to transform back to columns in wide format, with each unique value in the long format column becoming a header for the wide format   
- **`values`**: a single column indicating the values to use when pivoting and filling in the new wide format columns
- **`index`**: columns in the long format data that are index variables â€“ this means that these will be left as single columns, not spread out across columns by unique value such as in the columns parameter 
- **`aggfunc`**: often pivot_table() is used to perform a summary of the data. aggfunc stands for "aggregation function". It is required and defaults to np.mean. You can put your own function in, which I do below.
- **`fill_value`**: if a cell is missing for the wide format data, the value to fill in
    
I am putting in my own function, `select_item_or_nan()` to the `aggfunc` keyword argument. Because my `subject_id` column has a single variable value for each id, I just want the single element in the long format value cell. My data is messy and so I have to write a function to check for some places it can break. 

Note: `x` passed into my function is a series object (weirdly). I pull out the first element of that with the `.iloc` indexer.

In [11]:
# x will be sent in as a col
def select_item_or_nan(x):
    x = x.iloc[0]
    if len(x) == 0:
        return np.nan
    else:
        return x

new_wide = pd.pivot_table(nerdy_long, columns=['variable'], values='value',
                            index=['subject_id'], aggfunc=select_item_or_nan,
                            fill_value=np.nan)

In [14]:
new_wide.head()

variable,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,dependable,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
subject_id,,,,,,,,,,,,,,,,,,,,,
0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,7.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,5.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0
2,5.0,22.0,7.0,5.0,5.0,2.0,5.0,1.0,6.0,3.0,...,1.0,7.0,5.0,5.0,2.0,1.0,1.0,5.0,5.0,4.0
3,5.0,NaN,4.0,4.0,5.0,7.0,5.0,1.0,2.0,7.0,...,NaN,2.0,5.0,5.0,6.0,NaN,NaN,5.0,5.0,4.0
4,4.0,NaN,3.0,5.0,5.0,6.0,4.0,2.0,5.0,4.0,...,NaN,6.0,0.0,5.0,5.0,NaN,NaN,5.0,4.0,1.0

In [15]:
new_wide.reset_index().head() # to get rid of new index col

variable,subject_id,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
0,0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0
2,2,5.0,22.0,7.0,5.0,5.0,2.0,5.0,1.0,6.0,...,1.0,7.0,5.0,5.0,2.0,1.0,1.0,5.0,5.0,4.0
3,3,5.0,NaN,4.0,4.0,5.0,7.0,5.0,1.0,2.0,...,NaN,2.0,5.0,5.0,6.0,NaN,NaN,5.0,5.0,4.0
4,4,4.0,NaN,3.0,5.0,5.0,6.0,4.0,2.0,5.0,...,NaN,6.0,0.0,5.0,5.0,NaN,NaN,5.0,4.0,1.0

### Multiindex/Hierarchical indexing pt. 1

Below in the header you can see that the format of the wide data is not the same as our original loaded wide format. Pandas implements something called **Multiindexing** or **Hierarchical indexing** which allows for "tiered" row and column labels.

Right now it is not that bad, but this can get very complicated and annoying which we will see further down in the lesson.

The main difference here is that we have a `variable` name in the top left corner, which is "labeling" our columns (and corresponds to the name of our original column in the long format data). The row indexer has become our single key/id variable `subject_id`. The columns are what we would expect here, each one a variable like in the original wide data.

In [18]:
new_wide.head()

variable,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,dependable,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
subject_id,,,,,,,,,,,,,,,,,,,,,
0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,7.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,5.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0
2,5.0,22.0,7.0,5.0,5.0,2.0,5.0,1.0,6.0,3.0,...,1.0,7.0,5.0,5.0,2.0,1.0,1.0,5.0,5.0,4.0
3,5.0,NaN,4.0,4.0,5.0,7.0,5.0,1.0,2.0,7.0,...,NaN,2.0,5.0,5.0,6.0,NaN,NaN,5.0,5.0,4.0
4,4.0,NaN,3.0,5.0,5.0,6.0,4.0,2.0,5.0,4.0,...,NaN,6.0,0.0,5.0,5.0,NaN,NaN,5.0,4.0,1.0

Let's drop the null values from our recreated wide data.

Remember our `subject_id` is now the **index**, and so we can access it with the `.index` attribute.

In [19]:
wide_nonan = new_wide.dropna() #inplace = True will change in both places
print wide_nonan

variable   academic_over_social   age anxious bookish books_over_parties calm  \
subject_id
1                           2.0  50.0     4.0     4.0                4.0  6.0
2                           5.0  22.0     7.0     5.0                5.0  2.0
5                           4.0  18.0     5.0     3.0                4.0  4.0
8                           3.0  25.0     5.0     5.0                4.0  3.0
14                          2.0  31.0     3.0     1.0                3.0  6.0
15                          4.0  39.0     2.0     2.0                5.0  5.0
22                          5.0  20.0     1.0     5.0                5.0  7.0
27                          4.0  50.0     3.0     5.0                5.0  6.0
38                          3.0  17.0     7.0     5.0                3.0  3.0
45                          3.0  15.0     7.0     5.0                3.0  2.0
46                          4.0  37.0     2.0     3.0                3.0  5.0
47                          4.0  20.0     3.0     5.0                2.0  4.0
49                          2.0  21.0     6.0     5.0                4.0  5.0
53                          3.0  56.0     2.0     3.0                4.0  6.0
54                          2.0  22.0     4.0     3.0                3.0  6.0
55                          4.0  32.0     5.0     4.0                5.0  2.0
56                          4.0  49.0     2.0     4.0                5.0  6.0
58                          4.0  39.0     2.0     4.0                2.0  6.0
66                          4.0  29.0     6.0     2.0                5.0  6.0
70                          4.0  29.0     6.0     1.0                5.0  5.0
71                          5.0  46.0     2.0     5.0                3.0  7.0
75                          2.0  36.0     4.0     2.0                5.0  6.0
77                          3.0  21.0     5.0     3.0                5.0  2.0
84                          4.0  45.0     2.0     4.0                4.0  6.0
85                          5.0  23.0     2.0     5.0                5.0  5.0
91                          3.0  37.0     5.0     1.0                2.0  5.0
93                          5.0  14.0     5.0     5.0                5.0  7.0
95                          5.0  42.0     5.0     5.0                4.0  7.0
96                          4.0  19.0     1.0     5.0                4.0  5.0
98                          5.0  57.0     6.0     4.0                5.0  6.0
...                         ...   ...     ...     ...                ...  ...
1314                        4.0  20.0     1.0     3.0                2.0  2.0
1319                        3.0  14.0     4.0     4.0                4.0  5.0
1320                        2.0  27.0     2.0     2.0                4.0  7.0
1321                        3.0  23.0     5.0     3.0                4.0  5.0
1323                        5.0  17.0     6.0     2.0                5.0  7.0
1325                        3.0  56.0     2.0     4.0                4.0  5.0
1334                        5.0  62.0     2.0     5.0                5.0  6.0
1335                        3.0  58.0     2.0     4.0                5.0  6.0
1338                        4.0  33.0     5.0     5.0                5.0  3.0
1339                        1.0  16.0     6.0     1.0                1.0  4.0
1350                        4.0  18.0     4.0     3.0                4.0  4.0
1353                        4.0  20.0     2.0     3.0                3.0  6.0
1354                        5.0  21.0     1.0     3.0                4.0  4.0
1356                        4.0  19.0     7.0     5.0                5.0  6.0
1357                        2.0  20.0     2.0     2.0                3.0  7.0
1358                        2.0  23.0     2.0     3.0                3.0  6.0
1359                        4.0  34.0     2.0     3.0                4.0  6.0
1360                        3.0  30.0     4.0     3.0                4.0  4.0
1361                        2.0  42.0     5.0     3.0                4.0  3.0
1363                        4.0  22.0     2.0     3.0                1.0  6.0
1364                        4.0  34.0     5.0     4.0                4.0  6.0
1368                        3.0  53.0     2.0     4.0                4.0  7.0
1370                        4.0  24.0     6.0     3.0                4.0  2.0
1373                        5.0  51.0     4.0     3.0                4.0  4.0
1378                        5.0  22.0     5.0     4.0                4.0  3.0
1381                        5.0  24.0     1.0     4.0                5.0  7.0
1385                        5.0  53.0     2.0     5.0                5.0  6.0
1386                        4.0  18.0     5.0     2.0                4.0  3.0
1389                        2.0  21.0     5.0     4.0                5.0  4.0
1390                        5.0  28.0     4.0     1.0                5.0  6.0

variable   collect_books conventional critical dependable      ...       \
subject_id                                                     ...
1                    5.0          1.0      3.0        5.0      ...
2                    5.0          1.0      6.0        3.0      ...
5                    4.0          4.0      3.0        5.0      ...
8                    2.0          1.0      1.0        5.0      ...
14                   4.0          2.0      6.0        6.0      ...
15                   5.0          3.0      1.0        6.0      ...
22                   5.0          6.0      2.0        6.0      ...
27                   4.0          3.0      5.0        6.0      ...
38                   2.0          2.0      5.0        6.0      ...
45                   1.0          6.0      6.0        5.0      ...
46                   4.0          5.0      2.0        6.0      ...
47                   3.0          5.0      3.0        7.0      ...
49                   5.0          1.0      5.0        4.0      ...
53                   5.0          1.0      2.0        6.0      ...
54                   2.0          3.0      5.0        6.0      ...
55                   4.0          2.0      6.0        6.0      ...
56                   4.0          2.0      3.0        6.0      ...
58                   3.0          4.0      5.0        6.0      ...
66                   4.0          1.0      6.0        4.0      ...
70                   4.0          2.0      3.0        2.0      ...
71                   5.0          6.0      2.0        5.0      ...
75                   4.0          1.0      5.0        3.0      ...
77                   5.0          1.0      1.0        6.0      ...
84                   4.0          2.0      4.0        6.0      ...
85                   5.0          1.0      1.0        6.0      ...
91                   4.0          2.0      6.0        2.0      ...
93                   0.0          1.0      7.0        7.0      ...
95                   4.0          1.0      1.0        6.0      ...
96                   2.0          2.0      6.0        5.0      ...
98                   5.0          1.0      5.0        3.0      ...
...                  ...          ...      ...        ...      ...
1314                 3.0          3.0      5.0        2.0      ...
1319                 4.0          3.0      5.0        6.0      ...
1320                 1.0          5.0      2.0        6.0      ...
1321                 5.0          2.0      2.0        6.0      ...
1323                 5.0          3.0      4.0        7.0      ...
1325                 2.0          2.0      5.0        5.0      ...
1334                 5.0          3.0      5.0        7.0      ...
1335                 5.0          4.0      1.0        7.0      ...
1338                 5.0          1.0      4.0        3.0      ...
1339                 1.0          5.0      1.0        7.0      ...
1350                 5.0          2.0      2.0        2.0      ...
1353                 4.0          3.0      3.0        7.0      ...
1354                 5.0          2.0      6.0        6.0      ...
1356                 4.0          6.0      6.0        7.0      ...
1357                 2.0          2.0      1.0        7.0      ...
1358                 3.0          2.0      5.0        6.0      ...
1359                 3.0          4.0      5.0        6.0      ...
1360                 4.0          4.0      7.0        7.0      ...
1361                 4.0          1.0      6.0        5.0      ...
1363                 3.0          1.0      3.0        5.0      ...
1364                 4.0          5.0      3.0        6.0      ...
1368                 5.0          4.0      6.0        7.0      ...
1370                 4.0          2.0      3.0        4.0      ...
1373                 3.0          1.0      4.0        7.0      ...
1378                 4.0          1.0      1.0        6.0      ...
1381                 4.0          2.0      6.0        6.0      ...
1385                 2.0          2.0      2.0        6.0      ...
1386                 3.0          2.0      6.0        7.0      ...
1389                 3.0          2.0      4.0        5.0      ...
1390                 5.0          3.0      2.0        4.0      ...

variable   religion reserved socially_awkward strange_person sympathetic  \
subject_id
1               1.0      5.0              5.0            4.0         5.0
2               1.0      7.0              5.0            5.0         2.0
5               1.0      5.0              4.0            5.0         4.0
8               7.0      7.0              3.0            4.0         7.0
14              2.0      4.0              4.0            4.0         4.0
15              2.0      6.0              3.0            4.0         2.0
22              2.0      7.0              4.0            2.0         5.0
27              2.0      6.0              5.0            5.0         2.0
38              4.0      5.0              2.0            5.0         7.0
45              1.0      1.0              2.0            2.0         3.0
46              2.0      1.0              4.0            5.0         7.0
47              4.0      5.0              5.0            4.0         5.0
49              2.0      7.0              3.0            4.0         3.0
53              4.0      6.0              5.0            4.0         6.0
54              1.0      5.0              2.0            4.0         6.0
55             12.0      6.0              4.0            4.0         5.0
56              6.0      7.0              4.0            5.0         5.0
58              1.0      6.0              4.0            4.0         4.0
66              1.0      6.0              5.0            5.0         2.0
70              1.0      6.0              4.0            4.0         7.0
71              1.0      6.0              4.0            3.0         6.0
75              3.0      3.0              3.0            5.0         7.0
77              7.0      4.0              5.0            5.0         7.0
84              6.0      6.0              3.0            5.0         5.0
85              2.0      7.0              5.0            5.0         6.0
91              1.0      2.0              3.0            5.0         3.0
93              2.0      7.0              5.0            5.0         1.0
95             12.0      6.0              5.0            4.0         7.0
96              2.0      6.0              4.0            5.0         3.0
98              1.0      6.0              5.0            5.0         7.0
...             ...      ...              ...            ...         ...
1314           12.0      1.0              5.0            5.0         6.0
1319            2.0      5.0              4.0            4.0         6.0
1320            1.0      7.0              2.0            2.0         6.0
1321            1.0      4.0              5.0            4.0         7.0
1323            8.0      7.0              5.0            5.0         7.0
1325            4.0      5.0              4.0            4.0         5.0
1334            2.0      6.0              1.0            4.0         3.0
1335            6.0      6.0              5.0            5.0         3.0
1338            1.0      6.0              5.0            5.0         6.0
1339            4.0      1.0              4.0            2.0         4.0
1350            1.0      6.0              3.0            5.0         6.0
1353            7.0      5.0              5.0            5.0         5.0
1354            7.0      1.0              4.0            5.0         3.0
1356            2.0      3.0              4.0            4.0         7.0
1357            7.0      6.0              4.0            3.0         7.0
1358            1.0      5.0              2.0            3.0         6.0
1359            1.0      6.0              4.0            3.0         2.0
1360            2.0      7.0              3.0            3.0         1.0
1361            4.0      4.0              4.0            4.0         5.0
1363            4.0      2.0              4.0            4.0         5.0
1364            5.0      6.0              5.0            4.0         6.0
1368           12.0      7.0              5.0            5.0         4.0
1370            1.0      3.0              3.0            4.0         7.0
1373           12.0      5.0              5.0            5.0         7.0
1378            1.0      6.0              4.0            4.0         7.0
1381            1.0      6.0              5.0            4.0         2.0
1385            2.0      6.0              4.0            4.0         6.0
1386            8.0      6.0              4.0            4.0         5.0
1389            2.0      6.0              4.0            4.0         4.0
1390            2.0      1.0              5.0            5.0         7.0

variable   urban voted was_odd_child watch_science_shows writing_novel
subject_id
1            2.0   1.0           3.0                 5.0           1.0
2            1.0   1.0           5.0                 5.0           4.0
5            3.0   2.0           4.0                 5.0           3.0
8            2.0   2.0           3.0                 0.0           5.0
14           1.0   2.0           3.0                 4.0           2.0
15           2.0   2.0           5.0                 5.0           1.0
22           3.0   2.0           4.0                 5.0           2.0
27           2.0   2.0           4.0                 5.0           2.0
38           3.0   2.0           5.0                 3.0           1.0
45           2.0   2.0           2.0                 1.0           5.0
46           3.0   2.0           3.0                 5.0           4.0
47           3.0   2.0           4.0                 5.0           5.0
49           2.0   1.0           4.0                 3.0           3.0
53           2.0   1.0           3.0                 4.0           1.0
54           1.0   1.0           3.0                 5.0           1.0
55           3.0   2.0           4.0                 4.0           4.0
56           2.0   1.0           4.0                 5.0           2.0
58           2.0   1.0           4.0                 4.0           1.0
66           2.0   2.0           4.0                 5.0           1.0
70           1.0   2.0           5.0                 3.0           4.0
71           1.0   1.0           3.0                 5.0           1.0
75           2.0   2.0           3.0                 5.0           1.0
77           2.0   2.0           3.0                 5.0           2.0
84           2.0   2.0           5.0                 5.0           1.0
85           3.0   1.0           1.0                 5.0           4.0
91           2.0   1.0           3.0                 5.0           2.0
93           1.0   2.0           5.0                 5.0           4.0
95           2.0   2.0           4.0                 5.0           4.0
96           1.0   1.0           5.0                 4.0           4.0
98           2.0   1.0           3.0                 4.0           1.0
...          ...   ...           ...                 ...           ...
1314         2.0   2.0           4.0                 5.0           3.0
1319         3.0   2.0           3.0                 4.0           2.0
1320         2.0   2.0           2.0                 4.0           3.0
1321         1.0   2.0           3.0                 4.0           4.0
1323         1.0   2.0           5.0                 5.0           4.0
1325         1.0   1.0           4.0                 3.0           3.0
1334         3.0   1.0           5.0                 5.0           1.0
1335         2.0   1.0           5.0                 4.0           1.0
1338         2.0   2.0           5.0                 4.0           1.0
1339         3.0   2.0           1.0                 4.0           2.0
1350         2.0   2.0           4.0                 5.0           5.0
1353         1.0   1.0           5.0                 5.0           5.0
1354         1.0   1.0           5.0                 5.0           4.0
1356         1.0   2.0           4.0                 4.0           1.0
1357         3.0   2.0           3.0                 3.0           2.0
1358         1.0   2.0           2.0                 4.0           3.0
1359         3.0   1.0           5.0                 5.0           4.0
1360         2.0   1.0           1.0                 4.0           2.0
1361         2.0   2.0           4.0                 4.0           3.0
1363         2.0   2.0           3.0                 3.0           4.0
1364         3.0   1.0           5.0                 4.0           2.0
1368         1.0   1.0           4.0                 5.0           4.0
1370         2.0   1.0           4.0                 5.0           4.0
1373         3.0   1.0           3.0                 5.0           5.0
1378         3.0   2.0           4.0                 4.0           1.0
1381         3.0   2.0           4.0                 4.0           5.0
1385         2.0   2.0           3.0                 4.0           1.0
1386         3.0   2.0           3.0                 5.0           5.0
1389         2.0   2.0           5.0                 3.0           1.0
1390         2.0   2.0           5.0                 5.0           1.0

[421 rows x 56 columns]

We can use the dataframe function `.reset_index()` to move `subject_id` into a column and create a new index. Now we have the dataframe in the format we got when we loaded the original wide data in before. The only exception is that we still have that "variable" column label.

In [21]:
new_wide = new_wide.reset_index()

You can remove the column label (which I personally find confusing) by setting the `.columns.name` attribute to None.

In [22]:
new_wide.columns.name = None

In [23]:
new_wide.head()

,subject_id,academic_over_social,age,anxious,bookish,books_over_parties,calm,collect_books,conventional,critical,...,religion,reserved,socially_awkward,strange_person,sympathetic,urban,voted,was_odd_child,watch_science_shows,writing_novel
0,0,5.0,NaN,1.0,5.0,5.0,7.0,5.0,1.0,1.0,...,NaN,7.0,5.0,5.0,7.0,NaN,NaN,5.0,5.0,3.0
1,1,2.0,50.0,4.0,4.0,4.0,6.0,5.0,1.0,3.0,...,1.0,5.0,5.0,4.0,5.0,2.0,1.0,3.0,5.0,1.0
2,2,5.0,22.0,7.0,5.0,5.0,2.0,5.0,1.0,6.0,...,1.0,7.0,5.0,5.0,2.0,1.0,1.0,5.0,5.0,4.0
3,3,5.0,NaN,4.0,4.0,5.0,7.0,5.0,1.0,2.0,...,NaN,2.0,5.0,5.0,6.0,NaN,NaN,5.0,5.0,4.0
4,4,4.0,NaN,3.0,5.0,5.0,6.0,4.0,2.0,5.0,...,NaN,6.0,0.0,5.0,5.0,NaN,NaN,5.0,4.0,1.0

## `pivot_table` for summarization

For those of you who are experienced with Excel, the pandas pivot table does the same thing as the pivot table in Excel. It's more powerful, but obviously harder to use than the user-friendly spreadsheet version.

Next we'll use pivot table to generate some summary statistics for `anxious`, `bookish`, and `calm` by `major`. 

We can do it two ways. First let's subset the data just to those columns and subject id.

In [24]:
wide_subset = new_wide[['subject_id','major','anxious','bookish','calm']]
wide_subset.head()

   subject_id       major anxious bookish calm
0           0         NaN     1.0     5.0  7.0
1           1  biophysics     4.0     4.0  6.0
2           2     biology     7.0     5.0  2.0
3           3         NaN     4.0     4.0  7.0
4           4         NaN     3.0     5.0  6.0

### Going from wide to long with `.melt()`

**`.melt()`** is a function that essentially performs the inverse operation of `pivot_table` on dataframes.

Melt takes a dataframe as its first argument. Additional arguments typically used in the melt function are:

- **`id_vars`**: the column or columns that will be id variables. id variables contain datapoints specified by the variable and value columns
- **`value_vars`**: a list that specifies which columns should be converted into a single value column and variable column.
- **`var_name`**: the header name of the variable column (default='variable')
- **`value_name`**: the header name of the value column (default='value')

Below I only specify the `id_vars` as subject_id and major. The variable and value columns are inferred.

In [27]:
subset_long = pd.melt(wide_subset, id_vars=['subject_id','major'])
#subset_long = pd.melt(new_wide, id_vars=['subject_id','major'],value_vars=['calm','bookish'])
subset_long.head(30)

    subject_id                   major variable value
0            0                     NaN  anxious   1.0
1            1              biophysics  anxious   4.0
2            2                 biology  anxious   7.0
3            3                     NaN  anxious   4.0
4            4                     NaN  anxious   3.0
5            5                 Geology  anxious   5.0
6            6                     NaN  anxious   1.0
7            7                     NaN  anxious   7.0
8            8              psychology  anxious   5.0
9            9                     NaN  anxious   6.0
10          10                     NaN  anxious   7.0
11          11                     NaN  anxious   6.0
12          12                     NaN  anxious   1.0
13          13                     NaN  anxious   7.0
14          14  information technology  anxious   3.0
15          15           Digital Media  anxious   2.0
16          16                     NaN  anxious   2.0
17          17                     NaN  anxious   2.0
18          18                     NaN  anxious   5.0
19          19                     NaN  anxious   6.0
20          20                     NaN  anxious   5.0
21          21                     NaN  anxious   5.0
22          22    chemical engineering  anxious   1.0
23          23                     NaN  anxious   7.0
24          24                     NaN  anxious   7.0
25          25                     NaN  anxious   2.0
26          26                     NaN  anxious   6.0
27          27                    Math  anxious   3.0
28          28                     NaN  anxious   2.0
29          29                     NaN  anxious   4.0

You can do the same thing as above without having to subset the dataframe first by simply specifying the value_vars to lengthen. The output dataframe will then not have information on the columns left out of the `id_vars` and `value_vars` arguments.

In [28]:
subset_long.dtypes

subject_id     int64
major         object
variable      object
value         object
dtype: object

The value column is still a string, so we can convert it to float:

In [32]:
# pandas notation, converts a column (check after for NaNs or issues beforehand)
subset_long.value = subset_long.value.astype(float)

### Summarizing with aggregate functions

Pivot table can take in the long format variable, value, and an index to group by and apply aggregate functions as well for summarizing data easily. Note that your index variable should not be pulling out unique rows (for example, subject_id by variable would only have one value to send into the aggregate functions).

The output dataframe gives you a "hierarchical" column index â€“ the three variable for each aggregate function. The row index is the majors you divided the data up by.

If you apply more index variables to split by, the row indices will also become hierarchical! It can get complicated fast.

In [33]:
# index = summary cell
subset_summary = pd.pivot_table(subset_long, columns=['variable'], values='value',
                               index=['major'], aggfunc=[np.mean, np.median],
                               fill_value=np.nan)
subset_summary.head()

                                                      mean               \
variable                                           anxious bookish calm
major
 None yet                                              7.0     3.0  3.0
+ACI-+ACIAIg-hotel and restaurant management+AC...     2.0     2.0  7.0
Aerospace Engineer                                     2.0     2.0  7.0
Aerospace Engineering                                  3.0     4.0  3.0
Agricultural Economics                                 2.0     2.0  6.0

                                                    median
variable                                           anxious bookish calm
major
 None yet                                              7.0     3.0  3.0
+ACI-+ACIAIg-hotel and restaurant management+AC...     2.0     2.0  7.0
Aerospace Engineer                                     2.0     2.0  7.0
Aerospace Engineering                                  3.0     4.0  3.0
Agricultural Economics                                 2.0     2.0  6.0

In [42]:
#subset_summary['mean'][['anxious']]
subset_summary.loc[:,'mean'].loc['Art','anxious']
#subset_summary['mean'][['anxious','calm']]

4.0

In [43]:
subset_summary.to_records()

rec.array([(' None yet', 7.0, 3.0, 3.0, 7.0, 3.0, 3.0),
 ('+ACI-+ACIAIg-hotel and restaurant management+ACIAIg-+ACI-', 2.0, 2.0, 7.0, 2.0, 2.0, 7.0),
 ('Aerospace Engineer ', 2.0, 2.0, 7.0, 2.0, 2.0, 7.0),
 ('Aerospace Engineering', 3.0, 4.0, 3.0, 3.0, 4.0, 3.0),
 ('Agricultural Economics', 2.0, 2.0, 6.0, 2.0, 2.0, 6.0),
 ('Anthropology', 5.333333333333333, 3.6666666666666665, 4.333333333333333, 5.0, 4.0, 4.0),
 ('Anthropology ', 5.0, 4.0, 3.0, 5.0, 4.0, 3.0),
 ('Architecture', 3.0, 4.0, 5.666666666666667, 4.0, 4.0, 6.0),
 ('Architecture ', 5.0, 1.0, 5.0, 5.0, 1.0, 5.0),
 ('Art', 4.0, 4.333333333333333, 5.333333333333333, 5.0, 4.5, 5.5),
 ('Art Education', 5.0, 4.0, 3.0, 5.0, 4.0, 3.0),
 ('Art history', 6.0, 4.0, 1.0, 6.0, 4.0, 1.0),
 ('Arts', 3.5, 2.0, 4.5, 3.5, 2.0, 4.5),
 ('Astronomy', 0.0, 3.0, 0.0, 0.0, 3.0, 0.0),
 ('Astrophysics', 5.0, 5.0, 7.0, 5.0, 5.0, 7.0),
 ('Biochemical Engineering', 4.0, 3.0, 4.0, 4.0, 3.0, 4.0),
 ('Biochemistry', 3.5, 3.0, 4.5, 3.5, 3.0, 4.5),
 ('Biochemistry ', 4.0, 5.0, 3.0, 4.0, 5.0, 3.0),
 ('Biology', 5.25, 3.375, 4.75, 5.0, 3.5, 4.0),
 ('Biology ', 7.0, 2.0, 2.5, 7.0, 2.0, 2.5),
 ('Biology/Chemistry', 6.0, 4.0, 3.0, 6.0, 4.0, 3.0),
 ('Biomedical', 6.0, 5.0, 3.0, 6.0, 5.0, 3.0),
 ('Biotechnology', 7.0, 1.0, 1.0, 7.0, 1.0, 1.0),
 ('Business', 3.25, 2.0, 4.75, 3.0, 1.0, 5.0),
 ('Business Administration', 6.0, 2.0, 2.0, 6.0, 2.0, 2.0),
 ('Business Economics', 6.0, 3.0, 6.0, 6.0, 3.0, 6.0),
 ('Business Management', 6.0, 5.0, 3.0, 6.0, 5.0, 3.0),
 ('Chemical Engineering', 3.5, 4.0, 5.5, 3.5, 4.0, 5.5),
 ('Chemistry', 3.75, 3.5, 5.75, 4.0, 3.5, 6.0),
 ('Chemistry ', 7.0, 3.0, 1.0, 7.0, 3.0, 1.0),
 ('Civil Engineering', 6.0, 1.0, 6.0, 6.0, 1.0, 6.0),
 ('Civil Engineering ', 1.0, 5.0, 7.0, 1.0, 5.0, 7.0),
 ('Civil engineering', 1.0, 1.0, 7.0, 1.0, 1.0, 7.0),
 ('Classics', 5.0, 4.0, 4.0, 5.0, 4.0, 4.0),
 ('Commerce', 1.0, 3.0, 7.0, 1.0, 3.0, 7.0),
 ('Communication', 6.0, 3.5, 4.5, 6.0, 3.5, 4.5),
 ('Communications', 7.0, 4.0, 2.5, 7.0, 4.0, 2.5),
 ('Comp Sci and Math', 2.0, 5.0, 7.0, 2.0, 5.0, 7.0),
 ('Computational Linguistics', 1.0, 3.0, 2.0, 1.0, 3.0, 2.0),
 ('Computer Engineering', 2.0, 2.5, 3.5, 2.0, 2.5, 3.5),
 ('Computer Information Systens', 2.0, 4.0, 6.0, 2.0, 4.0, 6.0),
 ('Computer Science', 4.1, 4.3, 4.4, 4.0, 4.5, 4.0),
 ('Computer Science ', 4.0, 5.0, 5.0, 4.0, 5.0, 5.0),
 ('Computer Sciences', 3.0, 3.0, 2.0, 3.0, 3.0, 2.0),
 ('Computer science', 3.0, 4.0, 6.0, 2.0, 5.0, 6.0),
 ('Computers', 4.0, 4.0, 3.0, 4.0, 4.0, 3.0),
 ('Computers ', 1.0, 5.0, 5.0, 1.0, 5.0, 5.0),
 ('Computing', 4.0, 5.0, 5.0, 4.0, 5.0, 5.0),
 ('Creative writing', 3.0, 5.0, 5.0, 3.0, 5.0, 5.0),
 ('Criminal Justice', 1.0, 4.0, 7.0, 1.0, 4.0, 7.0),
 ('Currently business', 1.0, 3.0, 5.0, 1.0, 3.0, 5.0),
 ('Dietetics', 3.0, 5.0, 7.0, 3.0, 5.0, 7.0),
 ('Digital Media', 4.666666666666667, 4.0, 3.6666666666666665, 5.0, 5.0, 3.0),
 ('Double major: Computer Science +ACY- Studio Art', 6.0, 3.0, 6.0, 6.0, 3.0, 6.0),
 ('Drama', 6.0, 3.0, 4.0, 6.0, 3.0, 4.0),
 ('Early Childhood Education', 2.0, 5.0, 3.0, 2.0, 5.0, 3.0),
 ('Econ', 3.0, 2.0, 5.0, 3.0, 2.0, 5.0),
 ('Economics', 3.7142857142857144, 3.7142857142857144, 4.428571428571429, 3.0, 4.0, 5.0),
 ('Economics ', 6.0, 1.0, 1.0, 6.0, 1.0, 1.0),
 ('Economics +ACY- Psychology', 2.0, 1.0, 7.0, 2.0, 1.0, 7.0),
 ('Economics and History (double major)', 1.0, 5.0, 7.0, 1.0, 5.0, 7.0),
 ('Economy and maths', 2.0, 3.0, 6.0, 2.0, 3.0, 6.0),
 ('Education', 4.0, 5.0, 5.0, 4.0, 5.0, 4.0),
 ('Electrical Engineeirng', 1.0, 2.0, 6.0, 1.0, 2.0, 6.0),
 ('Electrical Engineering', 2.5, 4.0, 6.0, 2.5, 4.0, 6.0),
 ('Electrical engineering', 2.0, 5.0, 4.0, 2.0, 5.0, 4.0),
 ('Electronic Engineering +ACY- Physics', 5.0, 3.0, 4.0, 5.0, 3.0, 4.0),
 ('Electronic Media / Film', 6.0, 5.0, 6.0, 6.0, 5.0, 6.0),
 ('Elementary Education', 6.0, 3.0, 3.0, 6.0, 3.0, 3.0),
 ('Engineering', 1.5, 4.25, 5.0, 1.5, 4.5, 6.0),
 ('English', 4.375, 3.3125, 4.9375, 5.0, 3.0, 5.0),
 ('English ', 3.5, 4.0, 3.5, 3.5, 4.0, 3.5),
 ('English and psychology', 2.0, 4.0, 6.0, 2.0, 4.0, 6.0),
 ('English/History', 4.0, 5.0, 0.0, 4.0, 5.0, 0.0),
 ('English/philosophy/law', 6.0, 5.0, 5.0, 6.0, 5.0, 5.0),
 ('Environmental Engineering', 5.0, 4.0, 4.0, 5.0, 4.0, 4.0),
 ('Family Therapy', 5.0, 4.0, 6.0, 5.0, 4.0, 6.0),
 ('Film', 3.5, 2.5, 6.5, 3.5, 2.5, 6.5),
 ('Fine art sculpture', 1.0, 5.0, 7.0, 1.0, 5.0, 7.0),
 ('Food Technology', 6.0, 3.0, 5.0, 6.0, 3.0, 5.0),
 ('General Science/Philosophy', 2.0, 5.0, 7.0, 2.0, 5.0, 7.0),
 ('Geography and Politics', 3.0, 1.0, 6.0, 3.0, 1.0, 6.0),
 ('Geology', 4.0, 4.333333333333333, 3.6666666666666665, 5.0, 5.0, 4.0),
 ('German', 5.0, 3.0, 2.0, 5.0, 3.0, 2.0),
 ('Graphics Engineering', 4.0, 4.0, 4.0, 4.0, 4.0, 4.0),
 ('Health Science', 6.0, 5.0, 1.0, 6.0, 5.0, 1.0),
 ('Healthcare ', 7.0, 4.0, 2.0, 7.0, 4.0, 2.0),
 ('History', 4.0, 3.2, 5.6, 5.0, 3.0, 6.0),
 ('History ', 7.0, 3.0, 1.0, 7.0, 3.0, 1.0),
 ('Human Services', 7.0, 4.0, 3.0, 7.0, 4.0, 3.0),
 ('Human resources', 5.0, 4.0, 2.0, 5.0, 4.0, 2.0),
 ('IT', 3.0, 3.5, 5.5, 3.0, 3.5, 5.5),
 ('Industrial Engineering and Education', 3.0, 3.0, 6.0, 3.0, 3.0, 6.0),
 ('Information Technology', 4.0, 4.0, 4.0, 4.0, 4.0, 4.0),
 ('Information Technolpgy', 3.0, 5.0, 2.0, 3.0, 5.0, 2.0),
 ('Information security', 1.0, 1.0, 6.0, 1.0, 1.0, 6.0),
 ('Information tech', 5.0, 4.0, 6.0, 5.0, 4.0, 6.0),
 ('International Relations', 5.0, 3.0, 5.0, 5.0, 3.0, 5.0),
 ('Internet Computing', 5.0, 4.0, 2.0, 5.0, 4.0, 2.0),
 ('It will be engineering', 4.0, 4.0, 4.0, 4.0, 4.0, 4.0),
 ('Italian', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0),
 ('Journalism', 3.0, 3.0, 7.0, 3.0, 3.0, 7.0),
 ('Language', 5.0, 5.0, 6.0, 5.0, 5.0, 6.0),
 ('Languages', 5.0, 3.0, 4.0, 5.0, 3.0, 4.0),
 ('Law', 4.0, 4.0, 6.5, 4.0, 4.0, 6.5),
 ('Liberal Arts', 2.0, 3.0, 6.0, 2.0, 3.0, 6.0),
 ('Library science ', 6.0, 3.0, 3.0, 6.0, 3.0, 3.0),
 ('Linguistics', 5.333333333333333, 3.6666666666666665, 4.0, 5.0, 3.0, 4.0),
 ('Management', 3.0, 4.0, 4.0, 3.0, 4.0, 4.0),
 ('Managerial Economics', 3.0, 4.0, 7.0, 3.0, 4.0, 7.0),
 ('Math', 4.25, 4.25, 5.25, 3.5, 4.5, 6.0),
 ('Math and computer science', 6.0, 3.0, 4.0, 6.0, 3.0, 4.0),
 ('Mathematics', 4.333333333333333, 3.6666666666666665, 4.333333333333333, 4.0, 4.0, 4.0),
 ('Mechanical and electrical engineering', 1.0, 3.0, 6.0, 1.0, 3.0, 6.0),
 ('Mechatronics Engineering', 2.0, 3.0, 6.0, 2.0, 3.0, 6.0),
 ('Medical', 7.0, 5.0, 3.0, 7.0, 5.0, 3.0),
 ('Medical Sciences', 5.0, 3.0, 4.0, 5.0, 3.0, 4.0),
 ('Medicin', 4.0, 1.0, 7.0, 4.0, 1.0, 7.0),
 ('Medicine', 1.0, 5.0, 5.0, 1.0, 5.0, 5.0),
 ('Molecular Biology', 2.0, 4.0, 6.0, 2.0, 4.0, 6.0),
 ('Music', 5.125, 3.75, 4.375, 5.0, 4.0, 4.5),
 ('Natural Sciences', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0),
 ('Naval engineering ', 3.0, 3.0, 4.0, 3.0, 3.0, 4.0),
 ('Nursing', 4.0, 3.8, 5.6, 5.0, 4.0, 6.0),
 ('Occupational Therapy', 1.0, 4.0, 7.0, 1.0, 4.0, 7.0),
 ('Orthopedagogiek ', 5.0, 5.0, 6.0, 5.0, 5.0, 6.0),
 ('PACS', 4.0, 1.0, 2.0, 4.0, 1.0, 2.0),
 ('Philosophy', 3.0, 3.3333333333333335, 6.666666666666667, 2.0, 4.0, 7.0),
 ('Phiolosophy', 3.0, 5.0, 5.0, 3.0, 5.0, 5.0),
 ('Photography', 5.0, 4.0, 4.0, 5.0, 4.0, 4.0),
 ('Physical Education', 4.0, 3.0, 7.0, 4.0, 3.0, 7.0),
 ('Physical therapy', 5.0, 5.0, 3.0, 5.0, 5.0, 3.0),
 ('Physics', 4.875, 1.75, 4.25, 5.5, 2.0, 4.5),
 ('Physiology', 3.0, 4.0, 6.0, 3.0, 4.0, 6.0),
 ('Police Foindations', 5.0, 3.0, 6.0, 5.0, 3.0, 6.0),
 ('Political Science', 2.2, 4.0, 6.2, 2.0, 4.0, 7.0),
 ('Political science', 7.0, 2.0, 1.0, 7.0, 2.0, 1.0),
 ('Politics', 7.0, 1.0, 2.0, 7.0, 1.0, 2.0),
 ('Psychologia', 3.0, 3.0, 1.0, 3.0, 3.0, 1.0),
 ('Psychology', 4.703703703703703, 3.6296296296296298, 4.666666666666667, 5.0, 4.0, 5.0),
 ('Psychology ', 3.5, 2.5, 7.0, 3.5, 2.5, 7.0),
 ('Science', 4.0, 2.5, 4.5, 4.0, 2.5, 4.5),
 ('Science of speech and hearing', 3.0, 2.0, 6.0, 3.0, 2.0, 6.0),
 ('Social work', 7.0, 4.0, 3.0, 7.0, 4.0, 3.0),
 ('Sociology', 1.5, 2.5, 5.5, 1.5, 2.5, 5.5),
 ('Software Engineering', 3.0, 5.0, 4.0, 3.0, 5.0, 4.0),
 ('Sport Science', 1.0, 3.0, 6.0, 1.0, 3.0, 6.0),
 ('Sports +ACY- Exercise Science', 4.0, 3.0, 6.0, 4.0, 3.0, 6.0),
 ('Statistics', 1.0, 2.5, 2.5, 1.0, 2.5, 2.5),
 ('Theatre', 6.0, 4.0, 3.0, 6.0, 4.0, 3.0),
 ('Tourism management', 7.0, 4.0, 7.0, 7.0, 4.0, 7.0),
 ('Zoology', 6.0, 3.0, 2.0, 6.0, 3.0, 2.0),
 ('accounting', 7.0, 3.0, 3.0, 7.0, 3.0, 3.0),
 ('aerospace engineering ', 6.0, 1.0, 4.0, 6.0, 1.0, 4.0),
 ('agri+AC0-business management', 5.0, 3.0, 6.0, 5.0, 3.0, 6.0),
 ('anthropology', 5.0, 5.0, 3.0, 5.0, 5.0, 3.0),
 ('architecture', 5.0, 2.0, 3.0, 5.0, 2.0, 3.0),
 ('art', 3.0, 4.0, 4.0, 3.0, 4.0, 4.0),
 ('art +ACY- psychology', 3.0, 3.0, 5.0, 3.0, 3.0, 5.0),
 ('art history', 6.0, 5.0, 5.0, 6.0, 5.0, 5.0),
 ('art history and psychology', 6.0, 5.0, 2.0, 6.0, 5.0, 2.0),
 ('arts', 7.0, 3.0, 1.0, 7.0, 3.0, 1.0),
 ('biochemistry', 4.0, 3.5, 3.5, 4.0, 3.5, 3.5),
 ('biology', 4.2, 3.6, 4.6, 5.0, 3.0, 5.0),
 ('biomedical engineering', 5.0, 2.0, 3.0, 5.0, 2.0, 3.0),
 ('biophysics', 4.0, 4.0, 6.0, 4.0, 4.0, 6.0),
 ('business', 1.6666666666666667, 3.3333333333333335, 6.333333333333333, 2.0, 3.0, 6.0),
 ('business administration', 5.0, 5.0, 6.0, 5.0, 5.0, 6.0),
 ('chemical engineering', 2.0, 4.5, 6.0, 2.0, 4.5, 6.0),
 ('chemistry', 6.0, 3.0, 5.0, 6.0, 3.0, 5.0),
 ('chemistry engineering', 7.0, 1.0, 3.0, 7.0, 1.0, 3.0),
 ('civil engineering', 3.0, 5.0, 6.0, 3.0, 5.0, 6.0),
 ('civil engineering/history', 3.0, 4.0, 7.0, 3.0, 4.0, 7.0),
 ('cognitive science', 3.0, 3.0, 6.0, 3.0, 3.0, 6.0),
 ('communications', 4.5, 3.5, 4.0, 4.5, 3.5, 4.0),
 ('comparative literature', 6.0, 5.0, 5.0, 6.0, 5.0, 5.0),
 ('computer repair', 7.0, 2.0, 3.0, 7.0, 2.0, 3.0),
 ('computer science', 5.0, 4.666666666666667, 3.6666666666666665, 6.0, 5.0, 3.0),
 ('computer sciences', 6.0, 5.0, 5.0, 6.0, 5.0, 5.0),
 ('computers', 6.0, 2.0, 3.0, 6.0, 2.0, 3.0),
 ('economics', 5.0, 5.0, 7.0, 5.0, 5.0, 7.0),
 ('education', 4.333333333333333, 3.6666666666666665, 3.0, 4.0, 4.0, 3.0),
 ('electrical engineering', 1.0, 3.0, 4.0, 1.0, 3.0, 4.0),
 ('engineering', 3.5, 3.0, 6.0, 3.5, 3.0, 6.0),
 ('english', 5.0, 2.0, 4.0, 5.0, 2.0, 4.0),
 ('fine arts', 6.5, 5.0, 4.0, 6.5, 5.0, 4.0),
 ('general', 4.0, 3.0, 4.0, 4.0, 3.0, 4.0),
 ('general education ', 5.0, 2.0, 5.0, 5.0, 2.0, 5.0),
 ('geography', 5.0, 3.0, 6.0, 5.0, 3.0, 6.0),
 ('geology', 6.0, 5.0, 5.0, 6.0, 5.0, 5.0),
 ('history', 4.0, 4.2, 4.8, 3.0, 5.0, 6.0),
 ('hospitality', 5.0, 3.0, 4.0, 5.0, 3.0, 4.0),
 ('industrial engineering', 2.0, 1.0, 6.0, 2.0, 1.0, 6.0),
 ('information technology', 3.0, 1.0, 6.0, 3.0, 1.0, 6.0),
 ('laboratory studies', 4.0, 3.0, 3.0, 4.0, 3.0, 3.0),
 ('liberal arts', 6.0, 5.0, 2.0, 6.0, 5.0, 2.0),
 ('library and information sciences', 4.0, 2.0, 4.0, 4.0, 2.0, 4.0),
 ('linguistics', 7.0, 5.0, 3.0, 7.0, 5.0, 3.0),
 ('math', 1.0, 3.0, 7.0, 1.0, 3.0, 7.0),
 ('mathmatics', 2.0, 4.0, 7.0, 2.0, 4.0, 7.0),
 ('mba', 5.0, 5.0, 6.0, 5.0, 5.0, 6.0),
 ('mechanical engineering', 3.75, 2.75, 5.25, 3.5, 3.0, 5.5),
 ('medical science', 5.0, 4.0, 5.0, 5.0, 4.0, 5.0),
 ('medical transcription', 1.0, 5.0, 3.0, 1.0, 5.0, 3.0),
 ('medicine', 1.0, 3.0, 6.0, 1.0, 3.0, 6.0),
 ('molecular/cell bio +ACY- Arabic (dble mjr)', 1.0, 2.0, 5.0, 1.0, 2.0, 5.0),
 ('music', 7.0, 3.0, 4.0, 7.0, 3.0, 4.0),
 ('music directors', 1.0, 1.0, 7.0, 1.0, 1.0, 7.0),
 ('music+ADs- theology', 5.0, 5.0, 5.0, 5.0, 5.0, 5.0),
 ('neurology', 5.0, 5.0, 7.0, 5.0, 5.0, 7.0),
 ('neuroscience', 4.0, 4.5, 5.5, 4.0, 4.5, 5.5),
 ('none', 7.0, 5.0, 2.0, 7.0, 5.0, 2.0),
 ('nursing', 5.0, 4.5, 4.5, 5.0, 4.5, 4.5),
 ('paraspsychology', 6.0, 3.0, 2.0, 6.0, 3.0, 2.0),
 ('philosophy', 7.0, 4.0, 1.0, 7.0, 4.0, 1.0),
 ('physics', 4.666666666666667, 3.3333333333333335, 5.666666666666667, 5.0, 3.0, 6.0),
 ('physiology', 4.0, 4.0, 4.0, 4.0, 4.0, 4.0),
 ('political science', 5.0, 5.0, 4.0, 5.0, 5.0, 4.0),
 ('processing animal products ( food technology ', 7.0, 5.0, 1.0, 7.0, 5.0, 1.0),
 ('psychiatry ', 2.0, 3.0, 3.0, 2.0, 3.0, 3.0),
 ('psychology', 3.8947368421052633, 3.9473684210526314, 4.684210526315789, 4.0, 4.0, 5.0),
 ('psychology +AC0- engineering', 6.0, 1.0, 2.0, 6.0, 1.0, 2.0),
 ('psychology crimminology', 1.0, 5.0, 7.0, 1.0, 5.0, 7.0),
 ('pyschology', 5.0, 5.0, 6.0, 5.0, 5.0, 6.0),
 ('religion', 2.0, 5.0, 6.0, 2.0, 5.0, 6.0),
 ('rhetoric', 2.0, 4.0, 5.0, 2.0, 4.0, 5.0),
 ('science', 5.0, 5.0, 7.0, 5.0, 5.0, 7.0),
 ('social work', 6.0, 2.0, 7.0, 6.0, 2.0, 7.0),
 ('sociology', 4.333333333333333, 4.666666666666667, 5.0, 5.0, 5.0, 6.0),
 ('veterinary medicine', 2.0, 5.0, 6.0, 2.0, 5.0, 6.0),
 ('zoology', 3.0, 4.0, 5.0, 3.0, 4.0, 5.0)],
          dtype=[('major', 'O'), ("('mean', 'anxious')", '<f8'), ("('mean', 'bookish')", '<f8'), ("('mean', 'calm')", '<f8'), ("('median', 'anxious')", '<f8'), ("('median', 'bookish')", '<f8'), ("('median', 'calm')", '<f8')])

In [44]:
subset_summary_flat = pd.DataFrame(subset_summary.to_records())
subset_summary_flat.head()

,major,"('mean', 'anxious')","('mean', 'bookish')","('mean', 'calm')","('median', 'anxious')","('median', 'bookish')","('median', 'calm')"
0,None yet,7.0,3.0,3.0,7.0,3.0,3.0
1,+ACI-+ACIAIg-hotel and restaurant management+A...,2.0,2.0,7.0,2.0,2.0,7.0
2,Aerospace Engineer,2.0,2.0,7.0,2.0,2.0,7.0
3,Aerospace Engineering,3.0,4.0,3.0,3.0,4.0,3.0
4,Agricultural Economics,2.0,2.0,6.0,2.0,2.0,6.0

In [45]:
subset_summary_flat.columns

Index([u'major', u'('mean', 'anxious')', u'('mean', 'bookish')',
       u'('mean', 'calm')', u'('median', 'anxious')', u'('median', 'bookish')',
       u'('median', 'calm')'],
      dtype='object')

In [52]:
['_'.join(eval(col)) for col in subset_summary_flat.columns[1:]]

['mean_anxious',
 'mean_bookish',
 'mean_calm',
 'median_anxious',
 'median_bookish',
 'median_calm']

In [53]:
new_cols = ['_'.join(eval(col)) for col in subset_summary_flat.columns[1:]]
subset_summary_flat.columns = new_cols
subset_summary_flat.head()

ValueError: Length mismatch: Expected axis has 7 elements, new values have 6 elements

In [46]:
eval(subset_summary_flat.columns[1])

('mean', 'anxious')

The `.names` attribute on the index and the columns will show you the hierarchy of labels. The row index is "major", and the two column indices are None and 'variable' (the aggregate functions get no label from pivot table in this case). 

If you print out the columns, you can see it has become a pandas `MultiIndex` object that has levels, labels, and names. I won't go into too much detail on this â€“ reading the pandas documentation on MultiIndexes has a lot more information.

Indexing along the hierarchical column headers can be done with chained bracket keys, with the top level column label in the first bracket down to the bottom level.

In some cases you can just split them up by comma within the brackets.

## Converting a MultiIndex dataframe to "flat"

Personally, while I see multiindex dataframes as potentiall useful and a cool concept, I think the overhead and confusion on how to subset/mask them is annoying, especially when you have to start doing modeling pulling out data from these DataFrames.

To "flatten" a multi-indexed dataframe down, you can use the `.to_records()` function. To make this a new dataframe, it needs to be wrapped in a `pd.DataFrame()` like so:

You can see that the new column names are tuples of the hierarchy of the multiindexed columns. You can convert these to new, more easily indexed columns with a list comprehension, for example with the comprehension below.

The **eval** function takes a string and trys to evaluate it as if it were a python command! Be careful with this function.

---

## Preface to merging/joining: long and wide data

You will practice merging and joining much more tomorrow, but this section is a preview for what is to come with a focus on the difference between merging long and wide datasets together.

Load in the data we've been using above, but now split up with just the demographic variables in one dataset and the survey question answers in another. These datasets are in wide format, and they both contain `subject_id` to identify who the questions are for. 

As you may recall, the demographic responses have fewer observations.

In [13]:
n_demos_file = '~/github-repos/DSI-SF-2/datasets/nerdy_personality_attributes/NPAS_parsed_trunc_demo_sample.csv'
n_survey_file = '~/github-repos/DSI-SF-2/datasets/nerdy_personality_attributes/NPAS_parsed_trunc_survey.csv'

#demos_subset = pd.read_csv(n_demos_file)
#survey = pd.read_csv(n_survey_file)

### Pandas `.merge()` function

The merge function is a built-in function in a DataFrame. The first argument is another DataFrame that you want to merge it with, and the `on` keyword argument is the key or keys that you want the DataFrames to be "matched" on.

We are specifying `how='inner'` here, which essentially means that the subject_id has to be present in both dataframes to merge them together and return them. Because the demographics dataset has fewer subject_ids, it will only merge the subject_id rows from the survey dataset that are present in the demographics dataset.

### Make the demographic and survey data long format using melt

This is the same way we used melt in a previous section. 

- For the demographic dataframe, specify two id_vars, gender and subject_id.
- For the survey dataframe, only specify subject_id for id_vars

Merge together the long form datasets just like we did before with the wide format data.

Here we will still merge on 'subject_id' with 'inner' for the how variable. We have duplicate named columns in each of these dataframes ('variable' and 'value'). We can specify `suffixes=('_survey','_demo')` to give the instances of the survey and demographic dataframes appropriate column names when they are joined together.

### Pivot with the merged long dataframe

Now, use the pivot_table function on the merged demographics and survey dataframes (the long one) with columns the variable column for survey as well as the variable column for the demographics. Make the values the survey values column and the index gender. Set the aggregate function to just be the mean.

For example:

```python
demo_survey_means = pd.pivot_table(demos_survey_long, columns=['variable_survey', 'variable_demo'], 
                                   values='value_survey',
                                   index=['gender'], aggfunc=[np.mean],
                                   fill_value=np.nan)
```

You can see that if you specify multiple variable columns in the columns argument, it will stack them in a hierarchical column setup. So, for every variable in variable_survey, the mean for each gender for each variable in variable_demo.

A simpler version below just has the variable_demo in the columns argument, in which case it calculates the mean across those variables for each gender in the dataframe.